@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-tabs::-webkit-scrollbar {
  padding-top: 5px;
  height: 0.6rem;
  background-color: #f4f4f4;
}

.custom-tabs::-webkit-scrollbar-thumb {
  height: 0.5rem;
  background-color: #1f2937; /*color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0.1rem solid white; /* creates padding around scroll thumb */
}
